.App {
  display: flex;
  gap: 3rem;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
 font-size: 3rem;
    background-color: rgb(187, 187, 187);
}

.counter {
   font-size: 1.5rem;
  gap: 2rem;
  padding: 2rem;
background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  max-width: 30rem;
  border-radius: 1rem;
}
.button {
  border: none;
  width: 8rem;
  height: 4rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.incr{
  background-color: rgb(18, 226, 18);
}
.incr:hover{
   background-color: rgba(100, 230, 100, 0.993);

}
.decr{
  background-color: rgba(255, 0, 0, 0.989);
}
.decr:hover{
  background-color: rgba(250, 62, 62, 0.95);
}
.count{
  min-width: 10rem;
}

